@media screen and (max-width: 800px){
  .Homepage .Section {
    flex-direction: column;
  }
  
  .Homepage .Section .container {
    width: 100%;
  }
  
  .Homepage .padding .Modules__Section .content .Container {
    flex-direction: column;
  }
  
  .Homepage .padding .Modules__Section .content .Container a {
    margin: 10px auto;
    width: 100%;
  }

  /* Estilizações do componente de cursos por categoria */


  .Homepage .Container__Cursos section .Courses .Course {
    width: 100%;
  }

  /* Fim de estilizações do componente de cursos por categoria */
  
}
