.Header {
  width: 100%;
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 100px rgba(0,0,0,.1);
  border-bottom: 1px solid #dcdce6;
}

.Header .Header__logos {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.Header .Header__logos img {
  margin: 0px 5px;
}
