.container__Page404 {
  color: var(--primary-color);
  text-align: center;
  background: linear-gradient(to bottom, rgb(255, 225, 225), #fff);
}

.container__Page404 svg {
  margin: 50px auto 0px auto;
}

.container__Page404 h1 {
  font-size: 40px;
  margin: 40px auto;
}

.container__Page404 p {
  font-size: 20px;
  margin-top: 20px;
}

.container__Page404 .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.container__Page404 .container .button {
  display: block;
  width: 400px;
  position: relative;
}
